/* main app */
body {
    /* background borrowed from: http://lea.verou.me/css3patterns/#carbon-fibre */
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#333333;
    background-size:16px 16px;
}

.app {
    -moz-box-shadow:inset 0 0 2px black;
    -webkit-box-shadow:inset 0 0 2px black;
    box-shadow:inset 0 0 2px black;
    

    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 15px;
    color: #333;
}


/* issues */
.issue-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.issues-header {
    font-size: 25px
}
.issue {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 20px;
}
.issue:hover {
    background-color: #EFEFEF;
    border-radius: 5px;
}
.issue-left {
    padding-right: 10px;
}
.gravatar {
    border-radius: 4px;
    border: 2px solid #FFFFFF;
    max-width:60px;
    max-height:60px;
}
.github-handle {
    font-size: 11px;
}
.issue-right {
    text-align: right;
}
.issue-header {
    font-size: 17px;
    font-weight: bold;
    color: #555;
}
.issue-body {
    word-wrap: break-word;
}


