<% if (typeof error !== "undefined") { %>
<span class="error"> Error: <%= error %> </span>
<% } else { %>
<div class="issue">
    <div class="issue-col-left">
        <img class="gravatar" src="<%- model.get("user").avatar_url %>">
        <div class="github-handle">
            <%=utility.link("@" + model.get("user").login) %>
        </div>
        <div class="issue-state">State: <%-model.get("state") %></div>
        <div class="issue-labels">Labels:
            <% _.each(labels, function(label) { %>
                <div class="label">
                    <%= label %>
                </div>
            <% }); %>
        </div>
    </div>
    <div class="issue-col-center">
        <div class="issue-header">
            <a href="<%=model.get("html_url")%>"> 
                <span class="issue-number">
                    #<%= model.get("number") %>
                </span>
                <span class="issue-title">
                    <%= model.get("title") %>
                </span>
            </a>
        </div>
        <div class="issue-body">
          <%= utility.link(model.get("body")) %>
        </div>
        <div class="comments">
            <h3 class="comments-header"> Comments (<%- model.get("comments") %>): </h3>
            <% _.each(comments, function(comment) { %>
                <div class="comment">   
                    <div class="comment-col-left">
                        <img class="gravatar" src="<%- comment.user.avatar_url %>">
                        <div class="github-handle">
                            <%=utility.link("@" + comment.user.login) %>
                        </div>
                    </div> 
                    <div class="comment-col-right">
                        <div class="comment-body">
                            <%= utility.link(comment.body) %>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>
</ul>
<% } %>

