<div class="top-bar">
    <h2 class="issues-header">Issue </h2>
<!-- slightly hacky back button to be fixed with an event handler -->
    <button type="button" class="back-button btn btn-default btn-md" onclick="window.history.back()">
      <i class="fa fa-chevron-left"></i> Back
    </button>
</div>
<div class="input-group">
  <input type="text" class="form-control">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">Load!</button>
  </span>
</div>
<hr>
<div id="issue-root">
</div>

