<h2 class="issues-header">Issues </h2>
<div class="input-group">
  <input type="text" id="repo-input" class="form-control">
  <span class="input-group-btn">
    <button id="repo-load" class="btn btn-default" type="button">Load!</button>
  </span>
</div>
<hr>
<div class="btn-group nav-buttons">
  <button type="button" class="page-left btn btn-default"><i class="fa fa-chevron-left"></i></button>
  <button type="button" class="page-right btn btn-default"><i class="fa fa-chevron-right"></i></button>
</div>
<div id="issues-list-root"></div>
<div class="btn-group nav-buttons">
  <button type="button" class="page-left btn btn-default"><i class="fa fa-chevron-left"></i></button>
  <button type="button" class="page-right btn btn-default"><i class="fa fa-chevron-right"></i></button>
</div>
